
@mixxin center-block{
	margin-left: auto;
	margin-right: auto;
}
.center{
	width:1200px;
	
}
.box3,.box{
	width:200px;
	height:100px;
	background:red;
	border:solid 10px green;
	background:url("../images/44.jpg") no-repeat center center;
	background-size:60%;
}